main{
  display: flex;
  justify-content: center;
  align-items: center;  
}

.main-home{
  height: 60rem;
  background-color: #2d46b9;
  padding-top: 18rem;
}
.main-premium{
  height: 40rem;
  background-color: #509bf5;
  padding-top: 30rem;
}

.main-premium .container{
  width: 75rem;
}
.main-home .container{
  width: 60rem;
}

main .container {
  height: 50rem;
  display: block;
  justify-content: center;
}

main p{
  text-align: center;
  color: #1ED760;
  font-size: 1.2rem;
}

main .button{
  display: flex;
  justify-content: center;
}
main button {
  background-color: #1ED760;
  border: 0;
  padding: 1rem;
  border-radius: 2rem;
  color: #2d46b9;
  font-weight: bold;
  cursor: pointer;
  margin: 0;
  margin-top: 3rem;
  width: 18rem;
  letter-spacing: 1px;
}